.container{
    margin-left: 40px;
    margin-right: 40px;
    .horizrntal_line{
        margin: 0%;
        border: 1px solid #444;
        line-height: 0.3;

    }
    .summary{
       padding-right:50px ;
    }
}