.container{
    background-color: #ddd;
    margin: 20px;
    padding-left: 20px;
    // text-align: center;
    h1{
        margin: 0px;
        font-size: 3rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding-top: 20px;
      
    }
    .technology{
        margin: 0px;
        line-height: 1.7;
        font-weight: 600;
        color: #444;
        
    }
    .detail{
        display: flex;
        justify-content: center;
        gap: 40px;
        font-size: 1.5rem;
        line-height: 0.3;
        h6{
            font-weight: 500;
        }
        
    }
}